{% extends 'layout.html' %}

{% block content %}
<div class="card shadow p-4">
    <h2>Avtobus tanlang</h2>
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Avtobus raqami</label>
            <select name="bus_number" class="form-select" required>
                {% for bus in buses %}
                <option value="{{ bus }}">{{ bus }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Manzilga yetish uchun taxminiy daqiqa</label>
            <input type="number" name="estimated_minutes" class="form-control" placeholder="Masalan: 25" required>
        </div>
        <button type="submit" class="btn btn-primary">Tasdiqlash</button>
    </form>
</div>
{% endblock %}
