{% extends 'layout.html' %}

{% block content %}
<div class="card shadow p-4 mb-5 bg-white rounded">
    <h2 class="mb-4">Ro'yxatdan o'tish</h2>
    <form method="post">
        <div class="input-group mb-3">
            <input type="text" name="username" class="form-control" placeholder="Foydalanuvchi nomi" required>
        </div>
        <div class="input-group mb-3">
            <input type="password" name="password" class="form-control" placeholder="Parol" required>
        </div>
        <button type="submit" class="btn btn-primary">Ro'yxatdan o'tish</button>
    </form>
</div>
{% if error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
{% endif %}

{% endblock %}
