{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Foydalanuvchilarning Fikrlarini Ko‘rish</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Xursandchilik</th>
                <th>Haydovchi Xizmati</th>
                <th>Avtobus Holati</th>
                <th>Qo‘shimcha Fikrlar</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ feedback[1] }}</td>
                <td>{{ feedback[2] }}</td>
                <td>{{ feedback[3] }}</td>
                <td>{{ feedback[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Bosh Sahifaga</a>
</div>
{% endblock %}
